
<div class="index-body">
<h1>Welcome to BikeCologne</h1>
<p id="index-paragraph"> Your one stop source for used and refurbished bikes in Cologne</p>

<%# Home page carousel%>

<div class="background-image">
  <%= image_tag("bicycle-789648_1280.jpg", class:"img-responsive") %>
</div><!--image-->
</div><!--index page-->
<%# test_variable = 42 %>
<%# test_variable %>
