// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NAVIGATION
.navbar {
  background-color: #252937;
  margin-top: 0;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.2em;

}

#form-button {
  float: right;
  font-weight: bolder;
  font-size: 1em;
}
//carousel

.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    width: 100%;
    height: 400px;
    object-fit:scale-down;
}


// INDEX page
#index-paragraph {
  text-align: right;
  font-size: 1.5em;

}

// FOOTER
#site-footer {
  background-color: #252937;
  font-size: 1em;
  background-size: auto;
  height: 40px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
}

// PRODUCTS page

#catalog-product {
  border-color: blue;
  border-spacing: 5px;
}

.h1 {
  font-family: arial, helvetica, serif;
  text-align: center;
}
.background-image {
  width: 100%;
  margin-left: 0;
}

textarea {
  border: gray solid 1.5px;
}
