<p id="notice"><%= notice %></p>

<h1 id="headline">Products</h1>
  <div class="container-fluid" id="catalog">
    <div class="row">
    <%= render @products %>
  </div>
</div>
<br>

<%= link_to 'New Product', new_product_path %>

<%= link_to 'Back', products_path %>
